<table class="table table-hover col m-5">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Allegies</th>
      <th scope="col">Date of Birth</th>
      <th scope="col">Parent's Name</th>
      <th scope="col">Parent's Email</th>
      <th scope="col">Parent's Phone</th>
    </tr>
  </thead>
  {{#each campers as |camper|}}
    <div data-id="{{camper.id}}">
      <tbody>
        <tr>
          <th scope="row">{{camper.id}}</th>
          <td>{{camper.first_name}} {{camper.last_name}}</td>
          <td>{{camper.allergies}}</td>
          <td>{{camper.dob}}</td>
          <td>{{camper.parent_name}}</td>
          <td>{{camper.parent_email}}</td>
          <td>{{camper.parent_phone}}</td>
        </tr>
      </tbody>
{{/each}}
  </tbody>
</table>
