  <div>
    <h6>Name:</h6>
    <p>
      {{camper.first_name}} {{camper.last_name}}
    </p>
    <h6>Allergies:</h6>
    <p>
      {{camper.allergies}}
    </p>
    <h6>Date of birth:</h6>
    <p>
      {{camper.dob}}
    </p>
    <h6>Parent Contact Info:</h6>
    <p>
      {{camper.parent_name}}
      {{camper.parent_email}}
      {{camper.parent_phone}}
    </p>
    <div>
      {{#if editable}}
          <button class="btn btn-primary edit-camper" type="button" data-toggle="modal" data-target="#editModalScrollable" data-first={{camper.first_name}} data-last={{camper.last_name}} data-allergies={{camper.allergies}} data-dob={{camper.dob}} data-parent={{camper.parent_name}} data-email={{camper.parent_email}} data-phone={{camper.parent_phone}}>Edit</button>

          <!-- Button trigger delete modal -->
          <button class="btn btn-danger delete-camper" type="button" data-toggle="modal" data-target="#deleteModal" value={{camper.id}}>Delete</button>
      {{/if}}
    </div>
    <!-- <p>
      {{#if book.author}}
        {{book.author}}
      {{else}}
        No author provided.
      {{/if}}
    </p> -->

  </div>
